body {background:#333; font-family:'Roboto', Tahoma, Microsoft Yahei, SimHei, sans-serif;}
/*==================================================================
* @name		:Header
* @author	:zhao.liu
* @version	:2013-08
==================================================================*/
.header {width:100%; background:#e6e6e6; position:fixed; top:0; left:0; z-index:20;}
.alt {box-shadow:inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 0 1px rgba(0, 0, 0, 0.6);}
.header .logo {float:left; width:100px; margin:0 10px; background:#00cae9; color:#fff; font-size:24px;}
.header .logo:hover {background:#02b6d2;}
.header .menu {display:none; float:right; width:100px; margin:0 10px; background:#ccc; color:#fff; font-size:24px;}
.header .nav {float:right;}
.header .nav ul li {float:left;}
.header a {display:block; width:110px; height:30px; padding:10px 0; font:14px/30px 'Roboto', Tahoma, Arial, Helvetica, sans-serif; color:#5c8198; text-align:center; -webkit-transition:all .1s ease-in; -moz-transition:all .1s ease-in; transition:all .1s ease-in;}
.header a span {padding-bottom:5px;}
.header a:hover span {border-bottom:2px solid #b7d9de;}

/*Responsive*/
@media (max-width: 1024px)  {
.header .logo, .header .menu {margin:0;}
.header .menu {display:block;}
.header .nav {display:none; float:none; clear:both;}
.header .nav ul li {float:none;}
.header a {width:100%; border-top:1px solid #dedede;}
}
@media (max-width: 640px)  {
}
/*================================================================*/

/*==================================================================
* @name		:Content Common
* @author	:zhao.liu
* @version	:2013-08
==================================================================*/
.content {width:100%; margin-top:50px; background:#e6e6e6;}
.content a {color:#fff;}
.content a:hover {color:#00cae9;}
/*================================================================*/

/*==================================================================
* @name		:Content - Figure
* @author	:zhao.liu
* @version	:2013-08
==================================================================*/
.content .figure {min-height:700px; background:url(../images/bg_figure.jpg) no-repeat; background-size:cover; position:relative;}
.content .figureInner {width:1000px; margin:0 auto; position:relative; z-index:0;}
.content .figure .card {width:300px; padding:60px 20px 10px; background:#333; background:rgba(51,52,68,0.5); text-align:center; color:#fff; position:absolute; right:60px; top:0; -webkit-transition:all .5s ease-in; -moz-transition:all .5s ease-in; transition:all .5s ease-in;}
.content .figure .card .avater {width:180px; height:180px; margin:0 auto; border:10px solid #fff; border-radius:100px; box-shadow:0 5px 5px rgba(0,0,0,0.5); overflow:hidden; position:relative; z-index:1; cursor:pointer;}
.content .figure .card .avater .photo {position:absolute; top:0; left:0; border-radius:100px;}
.content .figure .card .avater .wx {width:100px; height:100px; padding:40px; background:#333; background:rgba(2,182,210,0.7); border-radius:100px; position:absolute; top:0; left:0; opacity:0; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; transition:all .2s ease-in;}
.content .figure .card .avater:hover .wx {opacity:1;}
.content .figure .card h1 {font:60px/80px 'Roboto', Tahoma, Microsoft Yahei, SimHei, sans-serif;}
.content .figure .card h2 {font:18px/30px 'Roboto', Tahoma, Microsoft Yahei, SimHei, sans-serif; margin-bottom:10px; color:#ccc}
.content .figure .card p {margin-top:20px; font-size:16px; line-height:2em;}
.content .figure .card ul {margin-left:50px; text-align:left; font:14px/30px 'Roboto', Tahoma, Microsoft Yahei, SimHei, sans-serif;}
.content .figure .card ul i {font-size:18px;}
.content .figure .contact {margin-top:20px; padding-top:20px; border-top:1px solid #777;}
.content .figure .contact a {display:inline-block; width:70px; height:70px; font-size:0; line-height:0; overflow:hidden; position:relative; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; transition:all .2s ease-in;}
.content .figure .contact .weibo:hover {background:#eb182c;}
.content .figure .contact .renren:hover {background:#105ba3;}
.content .figure .contact .douban:hover {background:#007711;}
.content .figure .contact .github:hover {background:#4183c4;}
.content .figure .contact .jianshu:hover {background:#e58c7c;}
.content .figure .contact a:last-child {margin-right:0;}
.content .figure .contact a i {display:block; width:48px; height:48px; margin:11px auto; background:url(../images/sns.png) no-repeat; _background:url(../images/sns_ie6.png) no-repeat; overflow:hidden; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; transition:all .2s ease-in;}
.content .figure .contact .weibo i  {background-position:0 0;}
.content .figure .contact .renren i {background-position:0 -48px;}
.content .figure .contact .douban i {background-position:0 -96px;}
.content .figure .contact .github i {background-position:0 -144px;}
.content .figure .contact .jianshu i {background-position:0 -192px;}
.content .figure .contact a:hover i {margin-top:0;}
.content .figure .contact a span {display:block; width:70px; height:30px; color:#fff; font:14px/30px 'Roboto', Tahoma, Microsoft Yahei, SimHei, sans-serif; position:absolute; bottom:-10px; left:0; opacity:0; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; transition:all .2s ease-in;}
.content .figure .contact a:hover span {bottom:0; opacity:1;}
.content .figure .icon-down-open {margin-left:-35px; font-size:50px; color:#ededed; cursor:pointer; position:absolute; bottom:20px; left:50%;
-webkit-animation:bounce 1s linear 10;
animation:bounce 1s linear 10;
}
@-webkit-keyframes bounce {
0% {
-webkit-transform:translateY(0);
}
50% {
-webkit-transform:translateY(-15px);
}
100% {
-webkit-transform:translateY(0);
}
}

/*Responsive*/
@media (max-width: 1024px)  {
.content .figure {width:100%; min-height:400px; background:#333; background:rgba(51,52,68,0.5);}
.content .figure .icon-down-open {display:none;}
.content .figureInner {width:100%;}
.content .figure .card {width:100%; margin:0 auto; padding:60px 0 20px; position:static;}
.content .figure .card .avater {width:120px; height:120px; border:5px solid #fff;}
.content .figure .card .avater img {width:130px; height:130px;}
.content .figure .card .avater .wx {display:none;}
.content .figure .card h1 {font-size:24px; line-height:40px;}
.content .figure .card p {margin:20px 20px 0;}
}
/*================================================================*/

/*==================================================================
* @name		:Content - Profile
* @author	:zhao.liu
* @version	:2013-08
==================================================================*/
.content .profile {overflow:hidden;}
.content .profile-slide {height:300px; padding:80px 50px;}
.content .profile-slide p {font:24px/40px 'Roboto', Tahoma, Microsoft Yahei, SimHei, sans-serif; text-align:center;}
.content .profile-slide .note {font-size:14px; line-height:20px; color:#777;}
.content .profile-slide p a {color:#5c8198;}
.content .profile-slide p img {width:265px; height:210px; margin:10px auto;}

/*Responsive*/
@media (max-width: 1024px)  {
.content .profile-slide {height:60px; padding:40px 20px 0;}
.content .profile-slide p img {display:none;}
.content .profile-slide p {font-size:14px; line-height:40px;}
.content .profile-slide .note {display:none;}
.flex-direction-nav a {padding:5px !important;}
.flex-control-nav {display:none;}
}
/*================================================================*/

/*==================================================================
* @name		:Content - Photos
* @author	:zhao.liu
* @version	:2013-08
==================================================================*/
.content .photoInner {width:1000px; margin:0 auto; padding:50px 0;}
.content .photos .info {float:left; width:360px;}
.content .photos .info h2 {margin:30px 0 10px; font:24px/40px 'Roboto', Tahoma, Microsoft Yahei, SimHei, sans-serif;}
.content .photos .info p {margin-bottom:20px; font-size:14px; color:#777;}
.content .photos .info li {float:left;}
.content .photos .info li:first-child {margin-right:50px;}
.content .photos .info a {display:block; width:140px; height:60px; font-size:0; line-height:0; overflow:hidden; background:url(../images/photo.png) no-repeat;}
.content .photos .info .lofter {background-position:0 -120px;}
.content .photos .info .lofter:hover {background-position:0 -180px;}
.content .photos .info .chanyouji {background-position:0 0;}
.content .photos .info .chanyouji:hover {background-position:0 -60px;}
.content .photos .album {margin-left:380px;}
.content .photos .album li {float:left; width:190px; height:190px; margin:0 10px 10px 0; padding:4px; border:1px solid #ccc; background:#fff; position:relative; overflow:hidden;}
.content .photos .album li img {width:190px; height:190px;}
.content .photos .album .noborder {margin-right:0;}
.content .photos .album .title {width:150px; height:150px; padding:40px 20px 0; background:#02b6d2; background:rgba(2,182,210,0.8); font:24px/40px 'Roboto', Tahoma, Microsoft Yahei, SimHei, sans-serif; color:#fff; position:absolute; top:4px; left:4px; z-index:1; opacity:0; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; transition:all .2s ease-in;}
.content .photos .album li:hover .title {opacity:1;}
.content .photos .album .title p {font-size:14px; line-height:20px; color:#ededed;}

/*Responsive*/
@media (max-width: 1024px)  {
.content .photoInner {width:90%;}
.content .photos .info {float:none; width:100%;}
.content .photos .info li {float:none; margin-bottom:}
.content .photos .info a {margin:20px auto;}
.content .photos .info li:first-child {margin-right:0;}
.content .photos .album {display:none;}
}
/*================================================================*/

/*==================================================================
* @name		:Content - Works
* @author	:zhao.liu
* @version	:2013-08
==================================================================*/
.content .worksInner {width:1000px; margin:0 auto; padding:50px 0; text-align:center;}
.content .works .pic {float:left; width:600px; margin-right:10px;}
.content .works .text {float:right; width:380px;}
.content .works h2 {margin:10px 0; font:24px/40px 'Roboto', Tahoma, Microsoft Yahei, SimHei, sans-serif;}
.content .works p {margin-bottom:20px; font-size:14px; color:#777; text-align:left;}
.content .works a {color:#5c8198;}
.content .works a:hover {border-bottom:1px solid #5c8198;}
.content .works .note {text-align:center; color:#999;}
.content .works .tag {display:inline-block; padding:0 3px 0 5px; margin-right:5px; background:#5c8198; border-radius:4px; color:#fff; cursor:default; -webkit-transition:all .1s ease-in; -moz-transition:all .1s ease-in; transition:all .1s ease-in;}
.content .works .tag:hover {background:#00cae9;}

/*Responsive*/
@media (max-width: 1024px)  {
.content .worksInner {width:90%;}
.content .works .pic {display:none;}
.content .works .text {float:none; width:100%;}
.content .works .tag {display:block; width:40%; margin:0 auto 10px; text-align:center;}
}
/*================================================================*/

/*==================================================================
* @name		:Content - Works
* @author	:zhao.liu
* @version	:2013-08
==================================================================*/
.content .contactInner {width:1000px; margin:0 auto; padding:50px 0 100px; text-align:center;}
.content .contact h2 {margin:20px 0; font:30px/40px 'Roboto', Tahoma, Microsoft Yahei, SimHei, sans-serif;}
.content .contact p {font:24px/40px 'Roboto', Tahoma, Microsoft Yahei, SimHei, sans-serif;}
.content .contact p a {color:#5c8198;}
.content .contact p a:hover {border-bottom:1px solid #5c8198;}

/*Responsive*/
@media (max-width: 1024px)  {
.content .contactInner {width:90%;}
}
/*================================================================*/

/*==================================================================
* @name		:Footer
* @author	:zhao.liu
* @version	:2013-08
==================================================================*/
.footer {width:100%; padding:15px 0; background:#333; text-align:center; color:#fff; font:14px/20px 'Roboto', Tahoma, Microsoft Yahei, SimHei, sans-serif;}
/*================================================================*/